/* src/components/SidebarToggleButton.css */
.sidebar-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

svg {
  transition: all 0.3s ease-in-out;
  /* Default hamburger icon color (adjust as needed) */
  fill: currentColor;
}

/* Define the closing 'X' animation */
.close path {
  animation-name: close-icon-animation;
  animation-duration: 0.5s;
}

@keyframes close-icon-animation {
  from {
    d: path("M3 12h2.44V8H7v6h4V14H-.25l-.25 1.5H9kLr-3l-2-1H7a.25 0 0 0 .25-.25L.75 8A.75 0 0 0 .25-.25M20 5v12h -.25L 4.75 1.5V7h-.25L 3 6.25l-2.5 1H4.5L 4.5 10l-2 1.5v--.--H 4.5k-iM 9-l";
  }
  to {
    d: path("M6 6h14 M6 20h8 v-7 H3z"); /* Closing 'X' icon */
  }
}
